<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/css-paint-polyfill@2.0.0/dist/css-paint-polyfill.js"></script>
  <script>
  CSS.paintWorklet.addModule("worklet.js");
  </script>
</head>
<body>
  {{ content | safe }}
</body>
</html>