* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
}

h1 {
  --houdini-example-width: 200;
  --houdini-example-height: 30;
  --houdini-example-X: 15;
  --houdini-example-Y: 30;
  --houdini-example-color: rgb(221, 75, 216);

  background: paint(houdini-example);
  max-width: 30ch;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: system-ui, sans-serif;
}
